/* Common styles */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 1rem;
  font-family: 'Space Mono', fixed;
}

body > * {
  max-width: 32rem;
}
body > :last-child {
  padding-bottom: 2rem; /* Hack in bottom padding when page scrolls */
}

.button-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  border: 3px solid black;
  background: white;
  font-family: 'Space Mono', fixed;
  font-weight: bold;

  transition: border-width 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  display: flex;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;

  width: 7.75rem;
  height: 7.75rem;
  padding: 1rem;
}
button.claimed {
  background: black;
  color: white;
}
button:focus {
  outline: none;
}
button:active {
  border-width: 10px
}