<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">

    <base href="/2016/treasure/">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="time.css" rel="stylesheet">
    <script src="time.js"></script>
  </head>
  <body>

    <form class="button-list" action="api/claim-cube/{{ cube_code }}">
      <button type="submit" name="claim-for" value="cake">Claim for C.A.K.E.</button>
      <button type="submit" name="claim-for" value="pie">Claim for P.I.E.</button>
      <button type="submit" name="claim-for" value="pizza">Claim for P.I.Z.Z.A.</button>
    </form>
    
  </body>
</html>
