<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <link href="time.css" rel="stylesheet">
    <script src="time.js"></script>
  </head>
  <body>
    <section class="intro">
      <h1>In the year 2231, there is only one choice</h1>
      <button type="submit" name="cake" value="register">I am C.A.K.E.</button>
      <button type="submit" name="pie" value="register">I am P.I.E.</button>
      <button type="submit" name="pizza" value="register">I am P.I.Z.Z.A.</button>
    </form>
    
  </body>
</html>
