<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">

    <base href="../../"> <!-- relative page url: assessment/<player> -->

    <!--
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="time.css" rel="stylesheet">
    <script src="time.js"></script>
    -->
  </head>
  <body>
    <h1>Welcome to {{player_name}}</h1>
    <p>Congratulations!  You have been selected for mandatory recruitment as a downstream agent.</p>

    <p>Your first mission is to recover a delivery of Time Cubes.  They have been sent to the next available interval following this message.</p>
    <p>We are watching you closely.  {{player_name}} needs agents who are observant, quick-thinking and competitive.</p>
    <p>Information: Time Cube technology is strongly tied to geometry.  It therefore has an affinity with <em>corners</em>.  For this mission we have identified corners where a good agent can easily find them - without breaking their cover, by having to behave too suspiciouslly.</p>
    <p>Intelligence: There may be other downstream agents using this location.</p>
  </body>
</html>
